html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt,
section,
article,
nav,
menu,
aside,
header,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-style: normal;
  box-sizing: border-box;
  list-style: none;
}
body{
	background: #F8F8F8;
}
.jb_head{
	width: 100%;
	height:2.25rem;
	background:rgba(8,7,7,0.5);
	position: fixed;
	top: 0;
	z-index: 11;
	display: flex;
}
.jb_head i{
	display: block;
	flex:1;
	text-align: center;
}
.jb_head i:nth-child(5){
	color: #fff;
	font-size: 0.65rem;
	margin-top: 0.7rem;
}
.jb_head input{
	flex:3;
	color: #9B9B9B;
	margin-top: 0.4rem;
	height: 1.5rem;
	text-indent: 1.3rem;
	font-size: 0.6rem;
}
.icon-list2,.icon-cart,.icon-heart{
	color: #fff;
	padding-top: 0.575rem;
}
.jb_head>img{
	position:absolute;
	top: 0.65rem;
	left: 2.4rem;
	width:1rem;
}

.banner{
    width:100%;
    overflow: hidden;
    height: 7.75rem;
}
.home{
	overflow: hidden;
	width: 100%;
	height: 7.75rem;
}
.img1{
        width:100%;
        display: block;
         height: 7.75rem;
    }
.logo_sy {
	width: 100%;
	 height: 7.75rem;	
}

.logo_sy img {
	display: block;
	width: 100%;	
}

.logo1_sy {
	width: 100%;
	height: 9.3rem;
}

.leibie_sy {
	height: 14.1rem;
	border-bottom: 0.1rem solid #ececec;
}

.muyin_sy {
	height: 5.6rem;
	display: flex;
}

.muyin_sy li {
	flex: 1;
}

.muyin_sy li img {
	display: block;
	width: 3.9rem;
	height: 3.9rem;
	margin: auto;
}

.muyin_sy li p {
	font-size: 1rem;
	color: #858386;
	display: block;
	margin-top: 0.4rem;
	text-align: center;
}

.muyin_sy1 {
	height: 5.6rem;
	display: flex;
	margin-top: 1.6rem;
}

.muyin_sy1 li {
	flex: 1;
}

.muyin_sy1 li img {
	display: block;
	width: 3.9rem;
	height: 3.9rem;
	margin: auto;
}

.muyin_sy1 li p {
	font-size: 1rem;
	color: #858386;
	display: block;
	margin-top: 0.2rem;
	text-align: center;
}





.jb_list{
	width: 100%;
	height:7.875rem;
	background: #fff;
}
.jb_list ul{
	width: 100%;
	height: 50%;
	/*background: #999;*/
	
	padding-top: 0.4rem;
}
.jb_list ul li{
	float: left;
	width: 20%;
	display: block;
}
.jb_list ul li p{
	text-align: center;
	font-size:0.625rem;
	line-height: 1.6rem;
	color: #5E5E5E;
}
.jb_list ul li img{
	width: 2.15rem;
	height: 2.15rem;
	display: block;
	
	margin-left: 0.5rem;
}
.jb_hd{
	width: 100%;
	height: 10.425rem;
	/*background: red;*/
	border-top:1px solid #F8F8F8;
	padding-bottom:0.5rem;   
}
.jb_left{
	width: 5.9rem;
	height: 100%;
	border-right:1px solid #F8F8F8;
	float: left; 
}
.jb_left_top,.jb_left_bottom{
	width: 100%;
	height: 50%;
	background: #fff;
}
.jb_left_top p{
	text-align: center;
	display: block;
}
.jb_left_top p img{
	width: 4.4rem;
	height: 1.725rem;
	margin-top: 0.5rem;

}
.jb_left_top p span{
	font-size: 0.3rem;
}
.jb_left_bottom img{
	width: 4.775rem;
	height: 4.525rem;
	margin-left: 0.8rem;
}
.jb_right{
	width: 10.075rem;
	height: 100%;
	/*background: red;*/
	float: left;
}
.jb_right_top{
	width: 100%;
	height: 40%;
	border-bottom:1px solid #F8F8F8;
	background: #fff;
}
.jb_right_top_left{
	width: 40%;
	height: 100%;
	float: left;
}
.jb_right_top_left h1{
	font-size: 0.8rem;
	color: #5ACB58;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}
.jb_right_top_left p{
	font-size: 0.6rem;
	padding-top: 0.2rem;
	margin-left: 0.5rem;
}
.jb_right_top_right{
	width: 60%;
	height: 100%;
	float: left;
}
.jb_right_top_right img{
	width: 4.925rem;
	height: 3.75rem;
	margin-top: 0.1rem;
	margin-left:0.8rem;
}
.jb_right_bottom{
	width: 100%;
	height: 60%;
	display: flex;
}
.jb_right_bottom div{
	display: block;
	flex:1;
	background: #fff;
}
.jb_right_bottom div:nth-child(1) img{
	 width: 2.325rem;
	 height:2.925rem;
	 margin-left: 0.275rem;
	 margin-top: 0.4rem;
}
.jb_right_bottom div:nth-child(2) img{
	 width: 2.725rem;
	 height:2.925rem;
	 margin-left: 0.275rem;
	 margin-top: 0.4rem;
}
.jb_right_bottom div:nth-child(3) img{
	 width:1.925rem;
	 height:2.925rem;
	 margin-left: 0.275rem;
	 margin-top: 0.4rem;
}
.jb_right_bottom div span,.jb_right_bottom div p{
	font-size: 0.575rem;
	margin-left: 0.275rem;
}
.jb_img{
	height: 4.775rem;
	width: 100%;
}
.jb_img img{
	height: 4.775rem;
	width: 100%;
	margin-bottom: 2.15rem;
}
.jb_footer{
	width: 100%;
	height: 2.15rem;
	background: #fff;
	position: fixed;
	bottom: 0;
	border-top:1px solid #F8F8F8;
	display: flex;
}
.jb_footer a{
	flex:1;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 2.15rem;
}
.jb_footer a img{
	width: 1rem;
	height:1rem;
	display:block;
	margin-top: 0.17rem;
	margin-left: 1.1rem;
}
.jb_footer a p{
	line-height:1rem;
	font-size: 0.4rem;
	text-align: center;
	color: #A5AAAD;
}